/* || General Style */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: .75;
}

/* || Typography */
body {
    font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
    /*font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;*/
}

/* || General Structures (Objects under the OOCSS methodology) */
.page-heading {
    font-size: 4em;
}

.section {
    margin: 40px auto;
    padding: 20px 10px;
}
.section-title {
    font-size: 2em;
}

.comment {
    display: inline-block;
    font-size: 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    border-radius: .25em;
}

.skills-container {
    display: flex;
    gap: .5em;
}
.skill-label {
    min-width: fit-content;
    height: 1em;
    padding: .3em .5em;
    border-radius: .4em;
    font-size: .85em;
    color: #ffffff;
    background: #242F40;
}

@media all and (min-width: 640px) {
    .marquee-content {
        display: flex;
        width: max-content;
        min-width: 200%;
        justify-content: space-between;
        animation: marquee 30s linear 0s infinite running;
    }
    .marquee-container:hover .marquee-content {
        animation-play-state: paused;
    }
    .marquee-item {
        flex-shrink: 0;
        flex-grow: 1;
        width: 10em;
        min-width: fit-content;
    }
    .marquee-item:hover {
        box-shadow: 0 0 10px #030712;
    }
    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

/* || Structures (Objects under the OOCSS methodology) (styled following the layout) */
/* header */
.page-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    min-height: 40px;
    padding: 20px 10px;
    margin: 0 auto;
}
.page-header > * {
    margin-right: 20px;
    margin-left: 20px;
}
.page-header > *:last-child {
    width: 100%;
}

.page-logo {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-bottom: 2px solid #9999A1;
    outline: 4px solid #9999A1;
    text-wrap: nowrap;
}
.page-logo > h1 {
    width: fit-content;
    height: fit-content;
}

.page-nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.page-nav > ul {
    list-style: none;
}
.page-nav li {
    margin: 0 20px;
}

.add-ons-menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: right;
}

.projects-container {
    margin: 1em auto;
    overflow: hidden;
}
.project-item {
    padding: 1em;
    margin: 1em;
    height: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: .8em;
    background-color: #F2F2F3;
}
.project-item > * {
    margin-bottom: .3em;
}
.project-item > *:last-child {
    margin-bottom: 0;
}
.project-item > .project-name {
    font-size: 1.3em;
    margin-bottom: .5em;
}
.project-item > .project-url {
    color: #94a3b8;
}

/* || General Skins (Skins under the OOCSS methodology) */
.--page-width {
    width: 85%;
}

.--border-bottom-divider {
    border-bottom: 2px solid #E6E6E9;
}

.--flex-direction-row {
    flex-direction: row;
}
.--flex-align-content-center {
    align-items: center;
}

.--flex-justify-content-space-evenly {
    justify-content: space-evenly;
}

.--color-anti-flash-white {
    color: #F4F4F6;
}
.--color-platinum {
    color: #E5E5E5;
}
.--bg-taupe-grey {
    background-color: #9999A1;
}
.--bg-gunmetal {
    background-color: #242F40;
}

.--text-shadow-black {
    text-shadow: 1px 1px 40px #000000;
}

.--filter-drop-shadow-black-invert-ten-percent {
    filter: drop-shadow(16px 16px 20px #000000) invert(10%);
}

.--flex-right {
    justify-items: right;
}


