/Alien Invasion/.idea/
/twenty four/twenty four c++/.idea/
/twenty four/twenty four python tkinter/.idea/
/Alien Invasion/venv/
/twenty four/twenty four c++/cmake-build-debug/
/twenty four/twenty four python tkinter/venv/
