/twenty four/twenty four c++/.idea/
/twenty four/twenty four c++/cmake-build-debug/
/twenty four/twenty four python tkinter/.idea/
/twenty four/twenty four python tkinter/__pycache__/
/Alien Invasion/.idea/
/Alien Invasion/__pycache__/
/.idea/
