/twenty four/twentyfourcplusplus/.idea/
/twenty four/twentyfourcplusplus/cmake-build-debug/
/twenty four/twenty four python tkinter/.idea/
/twenty four/twenty four python tkinter/__pycache__/
/Alien Invasion/.idea/
/Alien Invasion/__pycache__/
/Tic Tac Toe/.idea/
/Tic Tac Toe/cmake-build-debug/
/.idea/
twenty four/.DS_Store
