@import "tailwindcss";

:root {
    /*--background: #ffffff;*/
    /*--foreground: #171717;*/
    --custom-background: #0a192f;
    --custom-foreground: #CAD5E2FF; /* var(--color-slate-300) */
    --custom-bright: #ffffff;
    --custom-shadow: #8892b0;
    --custom-dark-shadow: #314158FF; /* var(--color-slate-700) */
    --custom-darker-shadow: #1D293DFF; /* var(--color-slate-800) */
    --custom-highlight: #46ECD5FF; /* var(--color-teal-300) */
}

@theme inline {
    --color-background: var(--custom-background);
    --color-foreground: var(--custom-foreground);
    --color-bright: var(--custom-bright);
    --color-shadow: var(--custom-shadow);
    --color-dark-shadow: var(--custom-dark-shadow);
    --color-darker-shadow: var(--custom-darker-shadow);
    --color-highlight: var(--custom-highlight);

    --font-roboto-condensed: var(--font-roboto-condensed);
    --font-roboto-mono: var(--font-roboto-mono);
}

a {
    @apply cursor-pointer font-semibold;
}

a:hover {
    @apply underline decoration-2 underline-offset-2 decoration-dotted;
}

button {
    @apply cursor-pointer;
}

h1 {
    @apply text-6xl sm:text-7xl font-bold my-8;
}

h2 {
    @apply text-4xl sm:text-5xl font-bold my-6;
}

h3 {
    @apply text-3xl sm:text-4xl font-bold my-4;
}

h4 {
    @apply text-2xl sm:text-3xl font-bold my-2;
}

p {
    @apply my-4 text-shadow;
}
